<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ALGOPA">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ALGOPA"
        android:roundIcon="@mipmap/ic_applogo_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.ui.GroupParticipantAddActivity"></activity>
        <activity android:name=".view.ui.GroupChatActivity" />
        <activity android:name=".view.ui.AddPostActivity" />
        <activity android:name=".view.ui.GroupCreateActivity" />
        <activity
            android:name=".view.ui.ForgetPasswordActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.ui.MessageActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ui.SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ui.HomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ui.SignupActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.ui.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Btn1Activity" />
        <activity android:name=".Btn2Activity" />
        <activity android:name=".Btn3Activity" />
        <activity android:name=".Btn4Activity" />
        <activity android:name=".Btn5Activity" />
        <activity android:name=".Btn6Activity" />
        <activity android:name=".Btn7Activity" />
        <activity android:name=".Btn8Activity" />
        <activity android:name=".Btn9Activity" />
        <activity android:name=".Btn10Activity" />
        <activity android:name=".Btn11Activity" />
        <activity android:name=".Btn12Activity" />
        <activity android:name=".Btn13Activity" />
        <activity android:name=".Btn14Activity" />
        <activity android:name=".Btn15Activity" />
        <activity android:name=".Btn16Activity" />
        <activity android:name=".Btn17Activity" />
        <activity android:name=".Btn18Activity" />
        <activity android:name=".Btn19Activity" />
        <activity android:name=".Btn20Activity" />
        <activity android:name=".Btn21Activity" />
        <activity android:name=".Btn22Activity" />
        <activity android:name=".Btn23Activity" />
        <activity android:name=".Btn24Activity" />
        <activity android:name=".Btn25Activity" />
        <activity android:name=".Btn26Activity" />
        <activity android:name=".Btn27Activity" />
        <activity android:name=".Btn28Activity" />
        <activity android:name=".Btn29Activity" />
        <activity android:name=".Btn30Activity" />
        <activity android:name=".Btn31Activity" />
        <activity android:name=".Btn32Activity" />
        <activity android:name=".Btn33Activity" />
        <activity android:name=".Btn34Activity" />
        <activity android:name=".Btn35Activity" />
        <activity android:name=".Btn36Activity" />
        <activity android:name=".Btn37Activity" />
        <activity android:name=".Btn38Activity" />
        <activity android:name=".Btn39Activity" />
        <activity android:name=".Btn40Activity" />
        <activity android:name=".Btn41Activity" />
        <activity android:name=".Btn42Activity" />
        <activity android:name=".MainActivity" />

        <service
            android:name=".services.notifications.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>